<div class="cover-authors">
	<div class="component__title cover-authors__title">
		<div class="component__title-inner">
			Authors
		</div>
	</div>
	<div class="cover-authors__content">
		<!-- Authors items -->
		{{#each @this}}
		<div class="cover-authors__item">
			<div class="cover-authors__item-inner">
				<div class="cover-authors__item-title item-title">
					<div class="cover-authors__item-title-inner">
						{{name}}
					</div>
				</div>
				<div class="cover-authors__item-flex">
					<div class="cover-authors__item-img">
						<img src="chapter1/assets/authors/{{_graphic.src}}" />
					</div>
					<div class="cover-authors__item-body item-body">
						<div class="cover-authors__item-body-inner">
							{{{body}}}
						</div>
					</div>
				</div>
			</div>
		</div>
		{{/each}}
	</div>
</div>