<div class="cover-container">

	<!-- Cover -->
	<div class="cover-cover" epub:type="cover">
		<div epub:type="pagebreak" role="doc-pagebreak" id="pg-cover" title="Cover">
			<img class="cover-cover__img --lg" id="cover-page-lg" src="../covers/cover_lg.jpg" alt="cover page"/>
			<img class="cover-cover__img --sm" id="cover-page-sm" src="../covers/cover_sm.jpg" alt="cover page"/>
		</div>
	</div>

	<!-- Overview -->
	<div class="cover-overview">
		{{!--<div class="component__title cover-overview__title">
			<div class="component__title-inner">
				{{unitTitle}}
			</div>
		</div>--}}
		<div class="component__body cover-overview__body">
			<p>Published {{year}} by Didasko Digital Publishing</p>
			<p>A division of the Didasko Group</p>
			<p>© {{year}} Didasko. All Rights Reserved.</p>

			<div class="component__title cover-credits__title">
				<div class="component__title-inner">
					Credits
				</div>
			</div>

			<div class="cover-credits__content">
			{{#each credits}}
				<div class="cover-credits__item">
					<div class="cover-credits__item-title">{{role}}</div>
					<div class="cover-credits__item-body">
					{{#each names}}
						<div class="cover-credits__item-name">{{@this}}</div>
					{{/each}}
					</div>
				</div>
			{{/each}}
			</div>
		</div>
	</div>
	
</div>