<div class="cover-glossary">
	<div class="component__title cover-glossary__title">
		<div class="component__title-inner">
			Glossary
		</div>
	</div>
	<div class="cover-glossary__content">
		<!-- glossary items -->
		{{#each @this}}
		<div class="cover-glossary__item">
			<div class="cover-glossary__item-inner">
				<div class="cover-glossary__item-title item-title">
					<div class="cover-glossary__item-title-inner">
						{{title}}
					</div>
				</div>
				<div class="cover-glossary__item-body item-body">
					<div class="cover-glossary__item-body-inner">
						{{{body}}}
					</div>
				</div>
			</div>
		</div>
		{{/each}}
	</div>
</div>