<?xml version='1.0' encoding='utf-8'?> 
<package xmlns="http://www.idpf.org/2007/opf" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:dcterms="http://purl.org/dc/terms/" version="3.0" xml:lang="en" unique-identifier="pub-identifier"> 
	<metadata> 
		<dc:identifier id="pub-identifier">urn:isbn:{{isbn}}</dc:identifier> 
		<dc:title id="pub-title">{{unitTitle}}</dc:title>
		<dc:language id="pub-language">en</dc:language> 
		<dc:date>{{publishedDate}}</dc:date> 
		<meta property="dcterms:modified">{{modifiedDate}}</meta>
		{{#each authors}} 
		<dc:creator id="pub-creator_{{@index}}">{{name}}</dc:creator> 
		{{/each}}
		<dc:publisher>VitalSource</dc:publisher> 
		<dc:rights>Copyright © {{copyrightYear}} Didasko Digital</dc:rights> 
		<dc:language>en</dc:language> 
	</metadata> 
	<manifest>
		{{#each spineItems}}
		<item id="id_index-{{@index}}" href="{{href}}" media-type="application/xhtml+xml"{{#if properties}} properties="{{properties}}"{{/if}}/>
		{{/each}}
		{{#each items}}
		<item id="id_{{id}}" href="{{href}}" media-type="{{mediaType}}"{{#if properties}} properties="{{properties}}"{{/if}}/>
		{{/each}}
	</manifest> 
	<spine> 
		{{#each spineItems}}
		<itemref idref="id_index-{{@index}}"/>
		{{/each}}
	</spine> 
</package> 
