<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:epub="http://www.idpf.org/2007/ops" xml:lang="en" lang="en">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="format-detection" content="telephone=no" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

		<title>{{title}}</title>

		<link href="chapter1/adapt.css" type="text/css" rel="stylesheet" />{{! Use Adapt styles for consistency }}
		<link href="styles.css" type="text/css" rel="stylesheet" />{{! Non-Adapt XHTML specific styles. }}
	</head>
	<body class="fullpage">
		
		<!-- Page has been designed to match an Adapt unit's DOM elements -->
		<!-- It is used for all non-Adapt pages in the EPUB. -->
		<div id="app">
			<div id="wrapper">
				
				<!-- Page -->
				<div class="page" epub:type="pagebreak" role="doc-pagebreak" id="pg0" title="{{title}}">
					<div class="page__inner">
						
						<!-- Article -->
						<div class="article__container">
							<div class="article">
								<div class="article__inner">

									<!-- Blocks -->
									<div class="block__container js-block-container">
										{{#each items}}
										{{#if @this}}
										<div class="block">
											<div class="block__inner">
												{{{compile @this}}}
											</div>
										</div>
										{{/if}}
										{{/each}}
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
