<div class="cover-references">
	<div class="component__title cover-references__title">
		<div class="component__title-inner">
			References
		</div>
	</div>
	<div class="cover-references__content">
		<!-- References items -->
		{{#each this}}
		<div class="cover-references__item">
			<div class="cover-references__item-inner">
				<div class="cover-references__item-body item-body">
					<div class="cover-references__item-body-inner item-body">
						{{#normalize}}{{{compile body}}}{{/normalize}}
					</div>
				</div>
			</div>
		</div>
		{{/each}}
	</div>
</div>