<div class="cover-resources">
	<div class="component__title cover-resources__title">
		<div class="component__title-inner">
			Resources
		</div>
	</div>
	<div class="cover-resources__content">
		<!-- Resources items -->
		{{#each this}}
		<div class="cover-resources__item">
			<div class="cover-resources__item-inner">
				{{#if title}}
				<div class="cover-resources__item-title item-title">
					<div class="cover-resources__item-title-inner">
						{{title}}
					</div>
				</div>
				{{/if}}
				<div class="cover-resources__item-body item-body">
					<div class="cover-resources__item-body-inner">
						{{#each items}}
							<div class="cover-resources__anchor">
							{{#if href}}
								<a href="{{href}}" target="_blank">{{#normalize}}{{{compile title}}}{{/normalize}}</a>
							{{else}}
								<a href="{{download}}" target="_blank" download="{{title}}">{{#normalize}}{{{compile title}}}{{/normalize}}</a>
							{{/if}}
							</div>
						{{/each}}
					</div>
				</div>
			</div>
		</div>
		{{/each}}
	</div>
</div>