<?xml version="1.0" encoding="UTF-8" standalone="no"?> 
<!DOCTYPE html> 
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:epub="http://www.idpf.org/2007/ops" xml:lang="en" lang="en"> 
<head> 
	<meta http-equiv="default-style" content="text/html; charset=utf-8"/> 
	<title>{{unitTitle}}</title> 
</head> 
<body> 
	<nav epub:type="toc" id="toc" role="doc-toc"> 
		<h1>Table of Contents</h1>
		<ol>
			{{#each spineItems}}
			{{#unless @first}}
			<li id="id_{{#if chapterNum}}ch-{{chapterNum}}{{else}}{{@index}}{{/if}}"><a href="{{href}}#pg0">{{title}}</a>{{#if blocks}}
				<ol hidden=""> 
					{{#each blocks}}
					<li id="id_ch-{{../chapterNum}}-{{blockNum}}"><a href="{{../href}}#pg{{blockNum}}">{{title}}</a></li>
					{{/each}}
				</ol> 
			{{/if}}</li>
			{{/unless}}
			{{/each}}
		</ol> 
	</nav> 
	<nav epub:type="page-list" hidden="hidden">
		<ol> 
			{{#each spineItems}}
				{{#if chapterNum}}
			<li><a href="{{href}}#pg0">{{chapterNum}}</a></li>{{! Need to add a 0th page for the number to show up in the TOC correctly.}}
					{{#each blocks}}
			<li><a href="{{../href}}#pg{{blockNum}}">{{../chapterNum}}-{{@index}}</a></li>
					{{/each}}
				{{else}}
			<li><a href="{{href}}#pg0">{{@index}}</a></li>
				{{/if}}
			{{/each}}
		</ol> 
	</nav> 
</body> 
</html> 
