// out: ../require/EPUB/content/styles.css, compress: true, sourceMap: false

// EPUB cover page (designed to resemble our Adapt v4 layout)
// ----------------------------------------------------------
// Inherits all of Adapt's styles from chapter1/adapt.css for consistency.
// Specify cover page specific overrides here.

@block-padding-ver: 1.25rem * 2;
@item-margin: 1.5rem;

@cover-margin: 2rem;
@cover-max-width: 36rem;

html {
    overflow-y: visible; // Fixes a bug where the page isn't scrollable with the scroll-wheel (Online Bookshelf).
}

#wrapper {
    padding-top: 0;
}

.block:first-child {
    border-top: 0;
}

.block__inner {
    padding-top: @block-padding-ver;
    padding-bottom: @block-padding-ver;
}

// Global
// ----------------------------
.item-title {
    font-size: 1.25rem;
    margin-bottom: 1rem;
    font-weight: 500;
}

.cover-credits__title,
.cover-authors__title,
.cover-references__title,
.cover-resources__title,
.cover-glossary__title {
    font-size: 1.8rem;
}

.cover-credits__item,
.cover-authors__item,
.cover-references__item,
.cover-resources__item,
.cover-glossary__item {
    margin-top: @item-margin;
}

// Cover
// ----------------------------
.block--cover .block__inner {
    padding-top: (@block-padding-ver / 2);
}

// Have the cover page's main column width be determined by the cover image within it.
.cover-container {
    display: block;
    max-width: @cover-max-width;
    margin: auto;

    margin-top: -(@block-padding-ver - @cover-margin);
}

.cover-cover {

    &__img.--lg {
        display: block;
        min-width: 0;
        max-width: 100%;
        //margin: auto;
        //max-height: calc(100vh ~"-" (@block-padding-ver * 2) ~"-" 5rem);
    }
    &__img.--sm {display: none;}
    @media (max-width:32.5rem){
        &__img.--lg {display: none;}
        &__img.--sm {display: block;}
    }
}

// Overview
// ----------------------------
.cover-overview {
    margin-top: @cover-margin; //(@block-padding-ver);
}

// Credits
// ----------------------------
.cover-credits  {

    &__title {
        margin-top: 2rem;
    }

    &__content {
        columns: 2;
        column-gap: @item-margin;
        margin-top: -1rem;

        //@media (max-width:47.5rem){columns: 1;}
        @media (max-width: 32.5rem){columns: 1;}
    }

    &__item {
        display: inline-block; // Prevent the items wrapping over the column breaks.
        width: 100%;
        margin-top: 1rem;
    }

    &__item-title {
        font-weight: bold;
    }
}

// Authors
// ----------------------------
.cover-authors {
    
    &__item-flex {
        display: flex;
        flex-direction: row-reverse;
    }
    
    &__item-img {
        margin-left: @block-padding-ver;
        margin-bottom: (@block-padding-ver / 2);
        
        width: 120px;
        flex-shrink: 0;
        
        img {
            width: auto;
            border-radius: 50%;
        }
    }
    
    @media (max-width:32.5rem){
        &__item-flex {
            display: block;
        }
        
        &__item-img {
            float: right;
        }
    }
}


// Glossary
// ----------------------------
.cover-glossary__item {
    .item-title {
        margin-bottom: 0.5rem;
    }
    /*.item-title {
        font-size: 1rem;
        margin-bottom: 0.5rem;
        font-weight: bold;
    }*/
}

// Resources
// ----------------------------
.cover-resources__anchor {
    &:not(:last-child) {
        margin-bottom: 0.5rem;
    }
}


/*body {
    font-size: 16px;
}

.fullpage {
    margin: 0;
}

// BLOCKS
.block__inner {
    max-width: 56.25rem;
    margin: auto;
    padding: 0rem 1.25rem 4rem 1.25rem;
}

// COVER
.cover {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    box-sizing: border-box;

    padding: 30px;
}

.cover-page {
    max-width: calc(100vw - 60px);
    max-height: calc(100vh - 60px);
}*/