@font-face {
	font-family: "Roboto";
	src: url("adapt/css/fonts/Roboto-Light.eot");
	src: url("adapt/css/fonts/Roboto-Light.eot?#iefix") format('embedded-opentype'),
		 url("adapt/css/fonts/Roboto-Light.woff2") format('woff2'),
		 url("adapt/css/fonts/Roboto-Light.woff") format('woff'),
		 url("adapt/css/fonts/Roboto-Light.ttf") format('truetype');
	font-weight: 300;
	font-style: regular;
}
@font-face {
	font-family: "Roboto";
	src: url("adapt/css/fonts/Roboto-LightItalic.eot");
	src: url("adapt/css/fonts/Roboto-LightItalic.eot?#iefix") format('embedded-opentype'),
		 url("adapt/css/fonts/Roboto-LightItalic.woff2") format('woff2'),
		 url("adapt/css/fonts/Roboto-LightItalic.woff") format('woff'),
		 url("adapt/css/fonts/Roboto-LightItalic.ttf") format('truetype');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: "Roboto";
	src: url("adapt/css/fonts/Roboto-Regular.eot");
	src: url("adapt/css/fonts/Roboto-Regular.eot?#iefix") format('embedded-opentype'),
		 url("adapt/css/fonts/Roboto-Regular.woff2") format('woff2'),
		 url("adapt/css/fonts/Roboto-Regular.woff") format('woff'),
		 url("adapt/css/fonts/Roboto-Regular.ttf") format('truetype');
	font-weight: 400;
	font-style: regular;
}
@font-face {
	font-family: "Roboto";
	src: url("adapt/css/fonts/Roboto-Italic.eot");
	src: url("adapt/css/fonts/Roboto-Italic.eot?#iefix") format('embedded-opentype'),
		 url("adapt/css/fonts/Roboto-Italic.woff2") format('woff2'),
		 url("adapt/css/fonts/Roboto-Italic.woff") format('woff'),
		 url("adapt/css/fonts/Roboto-Italic.ttf") format('truetype');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: "Roboto";
	src: url("adapt/css/fonts/Roboto-Medium.eot");
	src: url("adapt/css/fonts/Roboto-Medium.eot?#iefix") format('embedded-opentype'),
		 url("adapt/css/fonts/Roboto-Medium.woff2") format('woff2'),
		 url("adapt/css/fonts/Roboto-Medium.woff") format('woff'),
		 url("adapt/css/fonts/Roboto-Medium.ttf") format('truetype');
	font-weight: 500;
	font-style: regular;
}
@font-face {
	font-family: "Roboto";
	src: url("adapt/css/fonts/Roboto-MediumItalic.eot");
	src: url("adapt/css/fonts/Roboto-MediumItalic.eot?#iefix") format('embedded-opentype'),
		 url("adapt/css/fonts/Roboto-MediumItalic.woff2") format('woff2'),
		 url("adapt/css/fonts/Roboto-MediumItalic.woff") format('woff'),
		 url("adapt/css/fonts/Roboto-MediumItalic.ttf") format('truetype');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: "Roboto";
	src: url("adapt/css/fonts/Roboto-Bold.eot");
	src: url("adapt/css/fonts/Roboto-Bold.eot?#iefix") format('embedded-opentype'),
		 url("adapt/css/fonts/Roboto-Bold.woff2") format('woff2'),
		 url("adapt/css/fonts/Roboto-Bold.woff") format('woff'),
		 url("adapt/css/fonts/Roboto-Bold.ttf") format('truetype');
	font-weight: 700;
	font-style: regular;
}
@font-face {
	font-family: "Roboto";
	src: url("adapt/css/fonts/Roboto-BoldItalic.eot");
	src: url("adapt/css/fonts/Roboto-BoldItalic.eot?#iefix") format('embedded-opentype'),
		 url("adapt/css/fonts/Roboto-BoldItalic.woff2") format('woff2'),
		 url("adapt/css/fonts/Roboto-BoldItalic.woff") format('woff'),
		 url("adapt/css/fonts/Roboto-BoldItalic.ttf") format('truetype');
	font-weight: 700;
	font-style: italic;
}


body {
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.cover-credits__title {
	margin-bottom: 1rem;
	margin-top: 2rem;
}

.cover-credits__item {

}

.block__inner {
	padding: 2.5rem 1.25rem;
	margin: 0 auto;
	max-width: 56.25rem;
}

a {
	background-color: transparent;
}

a.hyperlink {
    font-family: 'Roboto',Helvetica,Arial,sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #F13C20;
    word-break: break-word;
    text-decoration: underline;
}


centerh.eqn {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #e2e2e2;
    background-position: 105% 50%;
    background-repeat: repeat-y;
    background-size: 20%;
    background-attachment: fixed;
    position: relative
}

@media all and (min-width:1101px) {
    centerh.eqn {
        margin-left: calc((100vw - 1076px)/-2);
        margin-right: calc((100vw - 1076px)/-2)
    }
}

@media all and (max-width:1100px) {
    centerh.eqn {
        margin-left: -40px;
        margin-right: -40px
    }
}

@media all and (max-width:520px) {
    centerh.eqn {
        margin-left: -30px;
        margin-right: -30px
    }
}

centerh.eqn .centerh-inner {
    position: relative;
    left: auto !important;
    text-align: center
}

@media all and (min-width:1101px) {
    centerh.eqn .centerh-inner {
        left: 50%;
        margin-left: -530px;
        max-width: 1060px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box
    }
}

@media all and (max-width:1100px) {
    centerh.eqn .centerh-inner {
        margin-left: 40px;
        margin-right: 40px
    }
}

@media all and (max-width:520px) {
    centerh.eqn .centerh-inner {
        margin-left: 30px;
        margin-right: 30px
    }
}

@media all and (min-width:1101px) {
    centerh.eqn .centerh-inner {
        margin-left: 0 !important
    }
}

.sticky-content centerh.eqn {
    margin-left: -20px !important;
    margin-right: -20px !important;
    padding-top: 20px;
    padding-bottom: 20px
}

.sticky-content centerh.eqn .centerh-inner {
    margin-left: 20px;
    margin-right: 20px
}

eqn,
.eqn {
    line-height: 1em;
    color: inherit;
    text-align: left;
    white-space: nowrap;
    display: inline-block
}

eqn:not(.ignore-font),
.eqn:not(.ignore-font) {
    font-family: "Times New Roman", Times, serif;
    font-size: 110%
}

.block-question eqn,
.block-question .eqn,
.block-tryThis eqn,
.block-tryThis .eqn,
.block-full-width-image-background-dark eqn,
.block-full-width-image-background-dark .eqn {
    color: inherit
}

centerh .centerh-inner>eqn,
centerh .centerh-inner>.eqn,
.instruction-text eqn,
.instruction-text .eqn {
    color: inherit !important
}

.block-question centerh .centerh-inner>eqn,
.block-question centerh .centerh-inner>.eqn {
    color: #ffffff !important
}

centerh.eqn eqn,
centerh.eqn .eqn {
    color: #1d1f1f !important
}

th eqn,
th .eqn {
    color: inherit !important
}

p eqn,
p .eqn {
    display: inline;
    white-space: nowrap
}

p eqn::before,
p .eqn::before {
    content: ""
}

eqn *,
.eqn * {
    position: relative;
    display: inline-block
}

centerh .centerh-inner>eqn,
centerh .centerh-inner>.eqn {
    font-size: 200%;
    padding: 5px;
    display: block;
    text-align: left
}

centerh .centerh-inner>eqn.eqn-small,
centerh .centerh-inner>.eqn.eqn-small,
centerh .centerh-inner>eqn._small,
centerh .centerh-inner>.eqn._small {
    font-size: 160%
}

centerh .centerh-inner>eqn>*,
centerh .centerh-inner>.eqn>* {
    vertical-align: middle
}

centerh .centerh-inner>eqn>*:not(:last-child),
centerh .centerh-inner>.eqn>*:not(:last-child) {
    margin-right: .4em
}

@media all and (max-width:1100px) {

    centerh .centerh-inner>eqn,
    centerh .centerh-inner>.eqn {
        font-size: 150%
    }

    centerh .centerh-inner>eqn.eqn-small,
    centerh .centerh-inner>.eqn.eqn-small,
    centerh .centerh-inner>eqn._small,
    centerh .centerh-inner>.eqn._small {
        font-size: 136%
    }
}

centerh .centerh-inner>eqn>etext:first-child:last-child,
centerh .centerh-inner>.eqn>etext:first-child:last-child {
    text-align: center;
    display: block;
    padding-top: 8.33333333px;
    padding-bottom: 8.33333333px
}

centerh .centerh-inner>eqn sub,
centerh .centerh-inner>.eqn sub,
centerh .centerh-inner>eqn sup,
centerh .centerh-inner>.eqn sup {
    font-size: 75%
}

centerh .centerh-inner>eqn sub eqn,
centerh .centerh-inner>.eqn sub eqn,
centerh .centerh-inner>eqn sup eqn,
centerh .centerh-inner>.eqn sup eqn {
    font-size: 100%
}

centerh.eqn-multi .centerh-inner>eqn,
centerh.eqn-multi .centerh-inner>.eqn {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

centerh.eqn-multi .centerh-inner>eqn:nth-child(1),
centerh.eqn-multi .centerh-inner>.eqn:nth-child(1) {
    float: left
}

centerh.eqn-multi .centerh-inner>eqn:nth-child(2),
centerh.eqn-multi .centerh-inner>.eqn:nth-child(2) {
    float: right
}

@media all and (max-width:760px) {

    centerh.eqn-multi .centerh-inner>eqn,
    centerh.eqn-multi .centerh-inner>.eqn {
        width: 100%;
        float: none;
        clear: both
    }

    centerh.eqn-multi .centerh-inner>eqn:nth-child(2),
    centerh.eqn-multi .centerh-inner>.eqn:nth-child(2) {
        margin-top: 25px
    }
}

@media all and (min-width:761px) {

    centerh.eqn-multi .centerh-inner>eqn:nth-child(1),
    centerh.eqn-multi .centerh-inner>.eqn:nth-child(1) {
        padding-right: 30px
    }

    centerh.eqn-multi .centerh-inner>eqn:nth-child(2),
    centerh.eqn-multi .centerh-inner>.eqn:nth-child(2) {
        padding-left: 30px
    }
}

centerh.centerh-left eqn,
centerh.centerh-left .eqn {
    text-align: left
}

centerh.centerh-right eqn,
centerh.centerh-right .eqn {
    text-align: right
}

centerh:not(.eqn-multi)>.centerh-inner>eqn:not(:first-child),
centerh:not(.eqn-multi)>.centerh-inner>.eqn:not(:first-child) {
    margin-top: 12.5px
}

centerh:not(.eqn-multi)>.centerh-inner>eqn:not(:first-child).eqn-small,
centerh:not(.eqn-multi)>.centerh-inner>.eqn:not(:first-child).eqn-small,
centerh:not(.eqn-multi)>.centerh-inner>eqn:not(:first-child)._small,
centerh:not(.eqn-multi)>.centerh-inner>.eqn:not(:first-child)._small {
    margin-top: 10px
}

eqn eqn,
.eqn eqn,
eqn .eqn,
.eqn .eqn {
    font-size: 100% !important;
    font-family: inherit;
    color: inherit !important
}

eqn etext,
.eqn etext,
eqn .etext,
.eqn .etext {
    font-family: Roboto, Arial, sans-serif;
    font-size: 85%
}

eqn etext:first-child:last-child,
.eqn etext:first-child:last-child,
eqn .etext:first-child:last-child,
.eqn .etext:first-child:last-child {
    font-size: 100%
}

eqn etitle,
.eqn etitle,
eqn .etitle,
.eqn .etitle {
    display: block;
    margin-bottom: 25px;
    margin-right: 0 !important;
    clear: both;
    text-align: left;
    font-family: Roboto, Arial, sans-serif;
    font-weight: bold
}

eqn etitle::after,
.eqn etitle::after,
eqn .etitle::after,
.eqn .etitle::after {
    content: ":"
}

.block-tryThis eqn etitle,
.block-tryThis .eqn etitle,
.block-tryThis eqn .etitle,
.block-tryThis .eqn .etitle,
.block-question eqn etitle,
.block-question .eqn etitle,
.block-question eqn .etitle,
.block-question .eqn .etitle {
    color: #ffffff
}

centerh eqn etitle,
centerh .eqn etitle,
centerh eqn .etitle,
centerh .eqn .etitle {
    font-size: 19px
}

eqn ebracket,
.eqn ebracket,
eqn .ebracket,
.eqn .ebracket {
    padding-left: .375em;
    padding-right: .375em
}

eqn ebracket::before,
.eqn ebracket::before,
eqn .ebracket::before,
.eqn .ebracket::before,
eqn ebracket::after,
.eqn ebracket::after,
eqn .ebracket::after,
.eqn .ebracket::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: .75em;
    border-radius: 50%;
    pointer-events: none
}

eqn ebracket::before,
.eqn ebracket::before,
eqn .ebracket::before,
.eqn .ebracket::before {
    left: 0;
    border-left: .1em solid currentColor
}

eqn ebracket::after,
.eqn ebracket::after,
eqn .ebracket::after,
.eqn .ebracket::after {
    right: 0;
    border-right: .1em solid currentColor
}

eqn sup,
.eqn sup,
eqn sub,
.eqn sub {
    vertical-align: baseline;
    position: relative;
    top: -0.4em
}

eqn sub,
.eqn sub {
    top: .4em
}

eqn efrac>:last-child>esqrt,
.eqn efrac>:last-child>esqrt,
eqn efrac>esqrt:last-child,
.eqn efrac>esqrt:last-child,
eqn .efrac>:last-child>.esqrt,
.eqn .efrac>:last-child>.esqrt,
eqn .efrac>.esqrt:last-child,
.eqn .efrac>.esqrt:last-child {
    padding-top: 1px
}

eqn esqrt>*,
.eqn esqrt>*,
eqn .esqrt>*,
.eqn .esqrt>* {
    padding-left: .2em;
    padding-right: .2em;
    border-top: 1px solid currentColor;
    margin-top: -1px;
    padding-top: 1px
}

eqn esqrt::before,
.eqn esqrt::before,
eqn .esqrt::before,
.eqn .esqrt::before {
    content: "\221A"
}

centerh eqn esqrt,
centerh .eqn esqrt,
centerh eqn .esqrt,
centerh .eqn .esqrt,
.centerh eqn esqrt,
.centerh .eqn esqrt,
.centerh eqn .esqrt,
.centerh .eqn .esqrt {
    padding-top: 0 !important
}

centerh eqn esqrt::before,
centerh .eqn esqrt::before,
centerh eqn .esqrt::before,
centerh .eqn .esqrt::before,
.centerh eqn esqrt::before,
.centerh .eqn esqrt::before,
.centerh eqn .esqrt::before,
.centerh .eqn .esqrt::before {
    font-family: 'vanilla';
    content: "\e91E";
    display: inline-block;
    margin-right: .2em;
    vertical-align: bottom
}

centerh eqn esqrt::after,
centerh .eqn esqrt::after,
centerh eqn .esqrt::after,
centerh .eqn .esqrt::after,
.centerh eqn esqrt::after,
.centerh .eqn esqrt::after,
.centerh eqn .esqrt::after,
.centerh .eqn .esqrt::after {
    content: "";
    position: absolute;
    top: -1px;
    bottom: 0;
    left: .43em;
    width: .25em;
    background: linear-gradient(to bottom right, transparent calc(46% - .96px), currentColor calc(46% - .144px), currentColor calc(46% + .144px), transparent calc(46% + .96px))
}

html.ie centerh eqn esqrt::after,
html.ie centerh .eqn esqrt::after,
html.ie centerh eqn .esqrt::after,
html.ie centerh .eqn .esqrt::after,
html.ie .centerh eqn esqrt::after,
html.ie .centerh .eqn esqrt::after,
html.ie .centerh eqn .esqrt::after,
html.ie .centerh .eqn .esqrt::after,
html.edge centerh eqn esqrt::after,
html.edge centerh .eqn esqrt::after,
html.edge centerh eqn .esqrt::after,
html.edge centerh .eqn .esqrt::after,
html.edge .centerh eqn esqrt::after,
html.edge .centerh .eqn esqrt::after,
html.edge .centerh eqn .esqrt::after,
html.edge .centerh .eqn .esqrt::after {
    background: linear-gradient(to bottom right, transparent 42.5%, currentColor 42.5%, currentColor 49.5%, transparent 49.5%)
}

eqn esigma,
.eqn esigma,
eqn .esigma,
.eqn .esigma {
    vertical-align: middle;
    margin-right: 0 !important;
    margin-top: 1em;
    margin-bottom: 1em
}

eqn esigma:empty,
.eqn esigma:empty,
eqn .esigma:empty,
.eqn .esigma:empty {
    margin-top: 0;
    margin-bottom: 0
}

eqn esigma::before,
.eqn esigma::before,
eqn .esigma::before,
.eqn .esigma::before {
    font-family: 'vanilla';
    content: "\e91C";
    font-size: 2.2em;
    line-height: 1.2em
}

.page-level-progress-item-title-inner eqn esigma::before,
.page-level-progress-item-title-inner .eqn esigma::before,
.page-level-progress-item-title-inner eqn .esigma::before,
.page-level-progress-item-title-inner .eqn .esigma::before {
    font-size: 1em
}

eqn esigma>*,
.eqn esigma>*,
eqn .esigma>*,
.eqn .esigma>* {
    position: absolute;
    left: 0;
    white-space: nowrap;
    font-size: 80%;
    width: 100%;
    text-align: center;
    line-height: 1em
}

eqn esigma>*:first-child,
.eqn esigma>*:first-child,
eqn .esigma>*:first-child,
.eqn .esigma>*:first-child {
    bottom: 100%
}

eqn esigma>*:last-child,
.eqn esigma>*:last-child,
eqn .esigma>*:last-child,
.eqn .esigma>*:last-child {
    top: 100%
}

p eqn esigma::before,
p .eqn esigma::before,
p eqn .esigma::before,
p .eqn .esigma::before {
    font-size: 1.1em
}

p eqn esigma>*,
p .eqn esigma>*,
p eqn .esigma>*,
p .eqn .esigma>* {
    font-size: 60%
}

eqn ean,
.eqn ean,
eqn .ean,
.eqn .ean {
    font-style: italic
}

eqn ean sub:last-child,
.eqn ean sub:last-child,
eqn sub ean:last-child,
.eqn sub ean:last-child,
eqn .ean .sub:last-child,
.eqn .ean .sub:last-child,
eqn .sub .ean:last-child,
.eqn .sub .ean:last-child {
    margin-right: .1em
}

eqn eo,
.eqn eo,
eqn ec,
.eqn ec,
eqn .eo,
.eqn .eo,
eqn .ec,
.eqn .ec {
    display: inline-block
}

eqn eo::before,
.eqn eo::before,
eqn ec::before,
.eqn ec::before,
eqn .eo::before,
.eqn .eo::before,
eqn .ec::before,
.eqn .ec::before {
    position: absolute;
    content: "\203e"
}

eqn eo.capital::before,
.eqn eo.capital::before,
eqn ec.capital::before,
.eqn ec.capital::before,
eqn .eo.capital::before,
.eqn .eo.capital::before,
eqn .ec.capital::before,
.eqn .ec.capital::before {
    margin-top: -0.25em;
    text-align: center;
    width: 100%
}

eqn ec::before,
.eqn ec::before,
eqn .ec::before,
.eqn .ec::before {
    content: "\0302"
}

eqn er,
.eqn er,
eqn .er,
.eqn .er {
    display: inline-block
}

eqn er::before,
.eqn er::before,
eqn .er::before,
.eqn .er::before {
    position: absolute;
    content: "\0307";
    left: 50%;
    top: -0.12em;
    font-size: 200%;
    font-family: "Times New Roman", Times, serif
}

centerh eqn er::before,
centerh .eqn er::before,
centerh eqn .er::before,
centerh .eqn .er::before,
.centerh eqn er::before,
.centerh .eqn er::before,
.centerh eqn .er::before,
.centerh .eqn .er::before {
    font-size: 150%
}

eqn efrac,
.eqn efrac,
eqn .efrac,
.eqn .efrac {
    display: inline-block;
    vertical-align: middle
}

eqn efrac>*,
.eqn efrac>*,
eqn .efrac>*,
.eqn .efrac>* {
    display: block;
    position: relative;
    text-align: center;
    line-height: 1em;
    padding-left: 2px;
    padding-right: 2px
}

eqn efrac>*:first-child::after,
.eqn efrac>*:first-child::after,
eqn .efrac>*:first-child::after,
.eqn .efrac>*:first-child::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: calc(-0.1em - .5px);
    height: 1px;
    background-color: currentColor
}

eqn efrac>*:last-child,
.eqn efrac>*:last-child,
eqn .efrac>*:last-child,
.eqn .efrac>*:last-child {
    margin-top: .2em
}

centerh .centerh-inner>eqn efrac>*:first-child::after,
centerh .centerh-inner>.eqn efrac>*:first-child::after,
.centerh .centerh-inner>eqn .efrac>*:first-child::after,
.centerh .centerh-inner>.eqn .efrac>*:first-child::after {
    bottom: calc(-0.35em - 1px);
    height: 2px
}

centerh .centerh-inner>eqn efrac>*:last-child,
centerh .centerh-inner>.eqn efrac>*:last-child,
.centerh .centerh-inner>eqn .efrac>*:last-child,
.centerh .centerh-inner>.eqn .efrac>*:last-child {
    margin-top: .7em
}

eqn sub efrac>*:first-child::after,
.eqn sub efrac>*:first-child::after,
eqn sup efrac>*:first-child::after,
.eqn sup efrac>*:first-child::after,
eqn sub .efrac>*:first-child::after,
.eqn sub .efrac>*:first-child::after,
eqn sup .efrac>*:first-child::after,
.eqn sup .efrac>*:first-child::after {
    bottom: calc(-0.1em - .5px) !important;
    height: 1px !important
}

eqn sub efrac>*:last-child,
.eqn sub efrac>*:last-child,
eqn sup efrac>*:last-child,
.eqn sup efrac>*:last-child,
eqn sub .efrac>*:last-child,
.eqn sub .efrac>*:last-child,
eqn sup .efrac>*:last-child,
.eqn sup .efrac>*:last-child {
    margin-top: .2em !important
}



centerh.eqn {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #e2e2e2;
    background-position: 105% 50%;
    background-repeat: repeat-y;
    background-size: 20%;
    background-attachment: fixed;
    position: relative
}

@media all and (min-width:1101px) {
    centerh.eqn {
        margin-left: calc((100vw - 1076px)/-2);
        margin-right: calc((100vw - 1076px)/-2)
    }
}

@media all and (max-width:1100px) {
    centerh.eqn {
        margin-left: -40px;
        margin-right: -40px
    }
}

@media all and (max-width:520px) {
    centerh.eqn {
        margin-left: -30px;
        margin-right: -30px
    }
}

centerh.eqn .centerh-inner {
    position: relative;
    left: auto !important;
    text-align: center
}

@media all and (min-width:1101px) {
    centerh.eqn .centerh-inner {
        left: 50%;
        margin-left: -530px;
        max-width: 1060px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box
    }
}

@media all and (max-width:1100px) {
    centerh.eqn .centerh-inner {
        margin-left: 40px;
        margin-right: 40px
    }
}

@media all and (max-width:520px) {
    centerh.eqn .centerh-inner {
        margin-left: 30px;
        margin-right: 30px
    }
}

@media all and (min-width:1101px) {
    centerh.eqn .centerh-inner {
        margin-left: 0 !important
    }
}

.sticky-content centerh.eqn {
    margin-left: -20px !important;
    margin-right: -20px !important;
    padding-top: 20px;
    padding-bottom: 20px
}

.sticky-content centerh.eqn .centerh-inner {
    margin-left: 20px;
    margin-right: 20px
}

eqn,
.eqn {
    line-height: 1em;
    color: inherit;
    text-align: left;
    white-space: nowrap;
    display: inline-block
}

eqn:not(.ignore-font),
.eqn:not(.ignore-font) {
    font-family: "Times New Roman", Times, serif;
    font-size: 110%
}

.block-question eqn,
.block-question .eqn,
.block-tryThis eqn,
.block-tryThis .eqn,
.block-full-width-image-background-dark eqn,
.block-full-width-image-background-dark .eqn {
    color: inherit
}

centerh .centerh-inner>eqn,
centerh .centerh-inner>.eqn,
.instruction-text eqn,
.instruction-text .eqn {
    color: inherit !important
}

.block-question centerh .centerh-inner>eqn,
.block-question centerh .centerh-inner>.eqn {
    color: #ffffff !important
}

centerh.eqn eqn,
centerh.eqn .eqn {
    color: #1d1f1f !important
}

th eqn,
th .eqn {
    color: inherit !important
}

p eqn,
p .eqn {
    display: inline;
    white-space: nowrap
}

p eqn::before,
p .eqn::before {
    content: ""
}

eqn *,
.eqn * {
    position: relative;
    display: inline-block
}

centerh .centerh-inner>eqn,
centerh .centerh-inner>.eqn {
    font-size: 200%;
    padding: 5px;
    display: block;
    text-align: left
}

centerh .centerh-inner>eqn.eqn-small,
centerh .centerh-inner>.eqn.eqn-small,
centerh .centerh-inner>eqn._small,
centerh .centerh-inner>.eqn._small {
    font-size: 160%
}

centerh .centerh-inner>eqn>*,
centerh .centerh-inner>.eqn>* {
    vertical-align: middle
}

centerh .centerh-inner>eqn>*:not(:last-child),
centerh .centerh-inner>.eqn>*:not(:last-child) {
    margin-right: .4em
}

@media all and (max-width:1100px) {

    centerh .centerh-inner>eqn,
    centerh .centerh-inner>.eqn {
        font-size: 150%
    }

    centerh .centerh-inner>eqn.eqn-small,
    centerh .centerh-inner>.eqn.eqn-small,
    centerh .centerh-inner>eqn._small,
    centerh .centerh-inner>.eqn._small {
        font-size: 136%
    }
}

centerh .centerh-inner>eqn>etext:first-child:last-child,
centerh .centerh-inner>.eqn>etext:first-child:last-child {
    text-align: center;
    display: block;
    padding-top: 8.33333333px;
    padding-bottom: 8.33333333px
}

centerh .centerh-inner>eqn sub,
centerh .centerh-inner>.eqn sub,
centerh .centerh-inner>eqn sup,
centerh .centerh-inner>.eqn sup {
    font-size: 75%
}

centerh .centerh-inner>eqn sub eqn,
centerh .centerh-inner>.eqn sub eqn,
centerh .centerh-inner>eqn sup eqn,
centerh .centerh-inner>.eqn sup eqn {
    font-size: 100%
}

centerh.eqn-multi .centerh-inner>eqn,
centerh.eqn-multi .centerh-inner>.eqn {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

centerh.eqn-multi .centerh-inner>eqn:nth-child(1),
centerh.eqn-multi .centerh-inner>.eqn:nth-child(1) {
    float: left
}

centerh.eqn-multi .centerh-inner>eqn:nth-child(2),
centerh.eqn-multi .centerh-inner>.eqn:nth-child(2) {
    float: right
}

@media all and (max-width:760px) {

    centerh.eqn-multi .centerh-inner>eqn,
    centerh.eqn-multi .centerh-inner>.eqn {
        width: 100%;
        float: none;
        clear: both
    }

    centerh.eqn-multi .centerh-inner>eqn:nth-child(2),
    centerh.eqn-multi .centerh-inner>.eqn:nth-child(2) {
        margin-top: 25px
    }
}

@media all and (min-width:761px) {

    centerh.eqn-multi .centerh-inner>eqn:nth-child(1),
    centerh.eqn-multi .centerh-inner>.eqn:nth-child(1) {
        padding-right: 30px
    }

    centerh.eqn-multi .centerh-inner>eqn:nth-child(2),
    centerh.eqn-multi .centerh-inner>.eqn:nth-child(2) {
        padding-left: 30px
    }
}

centerh.centerh-left eqn,
centerh.centerh-left .eqn {
    text-align: left
}

centerh.centerh-right eqn,
centerh.centerh-right .eqn {
    text-align: right
}

centerh:not(.eqn-multi)>.centerh-inner>eqn:not(:first-child),
centerh:not(.eqn-multi)>.centerh-inner>.eqn:not(:first-child) {
    margin-top: 12.5px
}

centerh:not(.eqn-multi)>.centerh-inner>eqn:not(:first-child).eqn-small,
centerh:not(.eqn-multi)>.centerh-inner>.eqn:not(:first-child).eqn-small,
centerh:not(.eqn-multi)>.centerh-inner>eqn:not(:first-child)._small,
centerh:not(.eqn-multi)>.centerh-inner>.eqn:not(:first-child)._small {
    margin-top: 10px
}

eqn eqn,
.eqn eqn,
eqn .eqn,
.eqn .eqn {
    font-size: 100% !important;
    font-family: inherit;
    color: inherit !important
}

eqn etext,
.eqn etext,
eqn .etext,
.eqn .etext {
    font-family: Roboto, Arial, sans-serif;
    font-size: 85%
}

eqn etext:first-child:last-child,
.eqn etext:first-child:last-child,
eqn .etext:first-child:last-child,
.eqn .etext:first-child:last-child {
    font-size: 100%
}

eqn etitle,
.eqn etitle,
eqn .etitle,
.eqn .etitle {
    display: block;
    margin-bottom: 25px;
    margin-right: 0 !important;
    clear: both;
    text-align: left;
    font-family: Roboto, Arial, sans-serif;
    font-weight: bold
}

eqn etitle::after,
.eqn etitle::after,
eqn .etitle::after,
.eqn .etitle::after {
    content: ":"
}

.block-tryThis eqn etitle,
.block-tryThis .eqn etitle,
.block-tryThis eqn .etitle,
.block-tryThis .eqn .etitle,
.block-question eqn etitle,
.block-question .eqn etitle,
.block-question eqn .etitle,
.block-question .eqn .etitle {
    color: #ffffff
}

centerh eqn etitle,
centerh .eqn etitle,
centerh eqn .etitle,
centerh .eqn .etitle {
    font-size: 19px
}

eqn ebracket,
.eqn ebracket,
eqn .ebracket,
.eqn .ebracket {
    padding-left: .375em;
    padding-right: .375em
}

eqn ebracket::before,
.eqn ebracket::before,
eqn .ebracket::before,
.eqn .ebracket::before,
eqn ebracket::after,
.eqn ebracket::after,
eqn .ebracket::after,
.eqn .ebracket::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: .75em;
    border-radius: 50%;
    pointer-events: none
}

eqn ebracket::before,
.eqn ebracket::before,
eqn .ebracket::before,
.eqn .ebracket::before {
    left: 0;
    border-left: .1em solid currentColor
}

eqn ebracket::after,
.eqn ebracket::after,
eqn .ebracket::after,
.eqn .ebracket::after {
    right: 0;
    border-right: .1em solid currentColor
}

eqn sup,
.eqn sup,
eqn sub,
.eqn sub {
    vertical-align: baseline;
    position: relative;
    top: -0.4em
}

eqn sub,
.eqn sub {
    top: .4em
}

eqn efrac>:last-child>esqrt,
.eqn efrac>:last-child>esqrt,
eqn efrac>esqrt:last-child,
.eqn efrac>esqrt:last-child,
eqn .efrac>:last-child>.esqrt,
.eqn .efrac>:last-child>.esqrt,
eqn .efrac>.esqrt:last-child,
.eqn .efrac>.esqrt:last-child {
    padding-top: 1px
}

eqn esqrt>*,
.eqn esqrt>*,
eqn .esqrt>*,
.eqn .esqrt>* {
    padding-left: .2em;
    padding-right: .2em;
    border-top: 1px solid currentColor;
    margin-top: -1px;
    padding-top: 1px
}

eqn esqrt::before,
.eqn esqrt::before,
eqn .esqrt::before,
.eqn .esqrt::before {
    content: "\221A"
}

centerh eqn esqrt,
centerh .eqn esqrt,
centerh eqn .esqrt,
centerh .eqn .esqrt,
.centerh eqn esqrt,
.centerh .eqn esqrt,
.centerh eqn .esqrt,
.centerh .eqn .esqrt {
    padding-top: 0 !important
}

centerh eqn esqrt::before,
centerh .eqn esqrt::before,
centerh eqn .esqrt::before,
centerh .eqn .esqrt::before,
.centerh eqn esqrt::before,
.centerh .eqn esqrt::before,
.centerh eqn .esqrt::before,
.centerh .eqn .esqrt::before {
    font-family: 'vanilla';
    content: "\e91E";
    display: inline-block;
    margin-right: .2em;
    vertical-align: bottom
}

centerh eqn esqrt::after,
centerh .eqn esqrt::after,
centerh eqn .esqrt::after,
centerh .eqn .esqrt::after,
.centerh eqn esqrt::after,
.centerh .eqn esqrt::after,
.centerh eqn .esqrt::after,
.centerh .eqn .esqrt::after {
    content: "";
    position: absolute;
    top: -1px;
    bottom: 0;
    left: .43em;
    width: .25em;
    background: linear-gradient(to bottom right, transparent calc(46% - .96px), currentColor calc(46% - .144px), currentColor calc(46% + .144px), transparent calc(46% + .96px))
}

html.ie centerh eqn esqrt::after,
html.ie centerh .eqn esqrt::after,
html.ie centerh eqn .esqrt::after,
html.ie centerh .eqn .esqrt::after,
html.ie .centerh eqn esqrt::after,
html.ie .centerh .eqn esqrt::after,
html.ie .centerh eqn .esqrt::after,
html.ie .centerh .eqn .esqrt::after,
html.edge centerh eqn esqrt::after,
html.edge centerh .eqn esqrt::after,
html.edge centerh eqn .esqrt::after,
html.edge centerh .eqn .esqrt::after,
html.edge .centerh eqn esqrt::after,
html.edge .centerh .eqn esqrt::after,
html.edge .centerh eqn .esqrt::after,
html.edge .centerh .eqn .esqrt::after {
    background: linear-gradient(to bottom right, transparent 42.5%, currentColor 42.5%, currentColor 49.5%, transparent 49.5%)
}

eqn esigma,
.eqn esigma,
eqn .esigma,
.eqn .esigma {
    vertical-align: middle;
    margin-right: 0 !important;
    margin-top: 1em;
    margin-bottom: 1em
}

eqn esigma:empty,
.eqn esigma:empty,
eqn .esigma:empty,
.eqn .esigma:empty {
    margin-top: 0;
    margin-bottom: 0
}

eqn esigma::before,
.eqn esigma::before,
eqn .esigma::before,
.eqn .esigma::before {
    font-family: 'vanilla';
    content: "\e91C";
    font-size: 2.2em;
    line-height: 1.2em
}

.page-level-progress-item-title-inner eqn esigma::before,
.page-level-progress-item-title-inner .eqn esigma::before,
.page-level-progress-item-title-inner eqn .esigma::before,
.page-level-progress-item-title-inner .eqn .esigma::before {
    font-size: 1em
}

eqn esigma>*,
.eqn esigma>*,
eqn .esigma>*,
.eqn .esigma>* {
    position: absolute;
    left: 0;
    white-space: nowrap;
    font-size: 80%;
    width: 100%;
    text-align: center;
    line-height: 1em
}

eqn esigma>*:first-child,
.eqn esigma>*:first-child,
eqn .esigma>*:first-child,
.eqn .esigma>*:first-child {
    bottom: 100%
}

eqn esigma>*:last-child,
.eqn esigma>*:last-child,
eqn .esigma>*:last-child,
.eqn .esigma>*:last-child {
    top: 100%
}

p eqn esigma::before,
p .eqn esigma::before,
p eqn .esigma::before,
p .eqn .esigma::before {
    font-size: 1.1em
}

p eqn esigma>*,
p .eqn esigma>*,
p eqn .esigma>*,
p .eqn .esigma>* {
    font-size: 60%
}

eqn ean,
.eqn ean,
eqn .ean,
.eqn .ean {
    font-style: italic
}

eqn ean sub:last-child,
.eqn ean sub:last-child,
eqn sub ean:last-child,
.eqn sub ean:last-child,
eqn .ean .sub:last-child,
.eqn .ean .sub:last-child,
eqn .sub .ean:last-child,
.eqn .sub .ean:last-child {
    margin-right: .1em
}

eqn eo,
.eqn eo,
eqn ec,
.eqn ec,
eqn .eo,
.eqn .eo,
eqn .ec,
.eqn .ec {
    display: inline-block
}

eqn eo::before,
.eqn eo::before,
eqn ec::before,
.eqn ec::before,
eqn .eo::before,
.eqn .eo::before,
eqn .ec::before,
.eqn .ec::before {
    position: absolute;
    content: "\203e"
}

eqn eo.capital::before,
.eqn eo.capital::before,
eqn ec.capital::before,
.eqn ec.capital::before,
eqn .eo.capital::before,
.eqn .eo.capital::before,
eqn .ec.capital::before,
.eqn .ec.capital::before {
    margin-top: -0.25em;
    text-align: center;
    width: 100%
}

eqn ec::before,
.eqn ec::before,
eqn .ec::before,
.eqn .ec::before {
    content: "\0302"
}

eqn er,
.eqn er,
eqn .er,
.eqn .er {
    display: inline-block
}

eqn er::before,
.eqn er::before,
eqn .er::before,
.eqn .er::before {
    position: absolute;
    content: "\0307";
    left: 50%;
    top: -0.12em;
    font-size: 200%;
    font-family: "Times New Roman", Times, serif
}

centerh eqn er::before,
centerh .eqn er::before,
centerh eqn .er::before,
centerh .eqn .er::before,
.centerh eqn er::before,
.centerh .eqn er::before,
.centerh eqn .er::before,
.centerh .eqn .er::before {
    font-size: 150%
}

eqn efrac,
.eqn efrac,
eqn .efrac,
.eqn .efrac {
    display: inline-block;
    vertical-align: middle
}

eqn efrac>*,
.eqn efrac>*,
eqn .efrac>*,
.eqn .efrac>* {
    display: block;
    position: relative;
    text-align: center;
    line-height: 1em;
    padding-left: 2px;
    padding-right: 2px
}

eqn efrac>*:first-child::after,
.eqn efrac>*:first-child::after,
eqn .efrac>*:first-child::after,
.eqn .efrac>*:first-child::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: calc(-0.1em - .5px);
    height: 1px;
    background-color: currentColor
}

eqn efrac>*:last-child,
.eqn efrac>*:last-child,
eqn .efrac>*:last-child,
.eqn .efrac>*:last-child {
    margin-top: .2em
}

centerh .centerh-inner>eqn efrac>*:first-child::after,
centerh .centerh-inner>.eqn efrac>*:first-child::after,
.centerh .centerh-inner>eqn .efrac>*:first-child::after,
.centerh .centerh-inner>.eqn .efrac>*:first-child::after {
    bottom: calc(-0.35em - 1px);
    height: 2px
}

centerh .centerh-inner>eqn efrac>*:last-child,
centerh .centerh-inner>.eqn efrac>*:last-child,
.centerh .centerh-inner>eqn .efrac>*:last-child,
.centerh .centerh-inner>.eqn .efrac>*:last-child {
    margin-top: .7em
}

eqn sub efrac>*:first-child::after,
.eqn sub efrac>*:first-child::after,
eqn sup efrac>*:first-child::after,
.eqn sup efrac>*:first-child::after,
eqn sub .efrac>*:first-child::after,
.eqn sub .efrac>*:first-child::after,
eqn sup .efrac>*:first-child::after,
.eqn sup .efrac>*:first-child::after {
    bottom: calc(-0.1em - .5px) !important;
    height: 1px !important
}

eqn sub efrac>*:last-child,
.eqn sub efrac>*:last-child,
eqn sup efrac>*:last-child,
.eqn sup efrac>*:last-child,
eqn sub .efrac>*:last-child,
.eqn sub .efrac>*:last-child,
eqn sup .efrac>*:last-child,
.eqn sup .efrac>*:last-child {
    margin-top: .2em !important
}